<div class="wrapper">
  <div class="modal">
    <div class="modal__close" (click)="closeModal()">x</div>

    <!-- Reactive forms-->
    <input placeholder="Name" type="text" [(ngModel)]="userName">
    <input type="text" placeholder="Email" [(ngModel)]="email">
    <input type="text" placeholder="Age" [(ngModel)]="age">

    <div class="modal__button" (click)="saveUser()">OK</div>
  </div>
</div>
