.btn {
    width: 150px;
    height: 40px;
    border: 2px solid gray;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    margin-bottom: 10px;
}

.limit {
    background-color: red;
}