<!-- <app-my-btn></app-my-btn>
<app-my-btn></app-my-btn>
<app-my-btn></app-my-btn> -->

<div class="container"> <!-- *ngFor="let item of array" -->
    <app-user-card (userDelete)="deleteUser($event)" [user]="item" *ngFor="let item of users"></app-user-card>
</div>

<button (click)="addUser()">Add user</button>

<app-add-user-modal *ngIf="isModalOpened" (closeEvent)="closeModal()"></app-add-user-modal>
