.card {
    width: 100%;
    max-width: 400px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 10px;
    position: relative;

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        &-name {
            font-weight: bold;
            font-size: 20px;
            max-width:  75%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-email {
            font-style: italic;
        }

        &-age {
            color: darkgray;
        }
    }

    &__btn {
        position: absolute;
        top: 5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        cursor: pointer;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        transition: .4s;

        &_edit {
          right: 30px;
          background-color: green;
        }

        &_close {
          right: 5px;
          background-color: red;
        }

        &_active {
          background-color: yellowgreen;
          right: 5px;
        }

        &-icon {
          width: 10px;
        }
    }
}
