<div class="card">
    <img class="card__avatar" [src]="user.avatar" alt="">

    <div class="card__info">
        <ng-container *ngIf="isEditState then edit else view"></ng-container>
    </div>

    <div class="card__btn card__btn_edit" [class.card__btn_active]="isEditState" (click)="toggleEditMode()">
      <img class="card__btn-icon" src="assets/edit.svg" alt="">
    </div>
    <div *ngIf="!isEditState" class="card__btn card__btn_close" (click)="onDelete()">Х</div>
</div>


<!-- TEMPLATES -->

<ng-template #edit>
  <input type="text" placeholder="Naem" [(ngModel)]="user.name">
  <input type="text" placeholder="Email" [(ngModel)]="user.email">
  <input type="text" placeholder="Age" [(ngModel)]="user.age">
</ng-template>

<ng-template #view>
        <span class="card__user-name" [title]="user.name">{{user.name}}</span>
        <span class="card__info-email" title="{{user.email}}">{{user.email}}</span>
        <span class="card__info-age" title="так не работает">{{ user.age }}</span> 
</ng-template>
